
.idea/

*.bin
*.pyc

revision_version1/build/

revision_version1/dist/

revision_version1/process/__pycache__/

revision_version1/__pycache__/

revision_version1/widget/__pycache__/

.vscode/

vtk_import.txt
